<template>
  <Menu ref="sideMenu" :active-name="$route.name" :open-names="['all']" @on-select="changeMenu" width="auto" theme="dark">
    <slot name="top" ></slot>
    <template v-for="list in menuList">
      <Submenu :name="list.key" :key="list.key" >
        <template slot="title"><Icon type="stats-bars" />大盘</template>
        <template v-for="item in list.children">
          <MenuItem :name="item.key" :key="item.key">{{item.name}}</MenuItem>
        </template>
      </Submenu>
    </template>
  </Menu>
</template>

<script>
import { menuList } from '../../constants';
export default {
  name: 'market-menu',
  data() {
    return {
      menuList,
    };
  },
  methods: {
    changeMenu(val) {
      this.$router.push({
        name: val,
      });
    },
  },
};
</script>

<style lang="less">

</style>
