<template>
  <div class="home">
    <div id="chart" />
    <Row class="button-row">
      <Col span="6">
        <DatePicker type="daterange" format="yyyy-MM-dd" placement="bottom-end" v-model="timeRange" placeholder="选择范围"></DatePicker>
      </Col>
      <Col span="2"><Button type="primary" size="default" @click="handleSubmit">查 询</Button></Col>
      <Col span="16">
        <Button type="primary" size="large" @click="exportData"><Icon type="ios-download-outline" /> 导出数据</Button>
      </Col>
    </Row>
    <Table ref="homeTable" :columns="columns" :data="dataSource" />
    <pagination
      :total="paginationProps.total_count || 1"
      :page-size="pageSize"
      @changePage="handleChangePage"
    />
  </div>
</template>

<script>
import echarts from 'echarts';
import moment from 'moment';
import api from '../../axios';
import { formatter } from '../../utils';
import pagination from '../common/pagination';
export default {
  name: 'market-auth',
  components: {
    pagination,
  },
  data() {
    return {
      timeRange: [],
      columns: [
        {
          title: '时间',
          key: 'created_at',
        },
        // {
        //   title: '国家',
        //   key: 'country',
        // },
        {
          title: '实名总数',
          key: 'total_count',
        },
      ],
      dataSource: [],
      paginationProps: {},
      pageSize: 50,
      timeRange: [],
      // dateOption: {
      //   shortcuts: [{
      //     text: '昨日',
      //     value: () => {
      //       const start = new Date();
      //       const end = new Date();
      //       start.setTime(start.getTime() - 3600 * 1000 * 24);
      //       console.log(formatter(start), formatter(end));
      //       return [start, end];
      //     },
      //     onClick: (picker) => {
      //       console.log(picker);
      //       this.fetch({});
      //     },
      //   }],
      // },
    };
  },
  methods: {
    exportData() {
      this.$refs.homeTable.exportCsv({
        filename: '实名数据',
      });
    },
    handleChangePage({page}) {
      this.fetch({page});
    },
    fetch({ page = 1, count = this.pageSize, created_at = this.timeRange[0] ? this.timeRange : undefined }) {
      api.AdminMarkets({
        resource: 'verified',
        page,
        count,
        created_at,
      })
      .then((data) => {
        if (data && data.success) {
          if (data.data && data.data.length) {
            this.dataSource = data.data.map((d) => {
              d.created_at = d.created_at.split('T')[0];
              return d;
            });
            this.paginationProps = data.meta;
            this.drawLine();
          }
        }
      }).catch((e) => console.log(e));
    },
    drawLine() {
      const chart = echarts.init(document.getElementById('chart'));
      const legendData = this.dataSource.map(d => d.created_at.slice(5));
      const seriesData = this.dataSource.map(s => s.total_count);
      const option = {
        tooltip: {
          trigger: 'axis',
        },
        xAxis: {
          type: 'category',
          data: legendData,
        },
        yAxis: {
          type: 'value'
        },
        series: [{
          // name: '访问来源',
          type: 'line',
          // radius: '66%',
          // center: ['50%', '60%'],
          data: seriesData,
          smooth: true,
        }],
      };
      chart.setOption(option);
      window.addEventListener('resize', () => chart.resize());
    },
    handleSubmit() {
      this.timeRange = this.timeRange && this.timeRange[0] ? this.timeRange.map(t => moment(t).format('YYYY-MM-DD')) : undefined;
      this.fetch({ page: 1, created_at: this.timeRange })
    },
  },
  created() {
    this.fetch({});
  },
};
</script>
