<template>
  <div class="home">
    <div id="chart" />
    <Row class="button-row">
      <Col span="6">
        <DatePicker type="daterange" placement="bottom-end" v-model="timeRange" placeholder="选择范围"></DatePicker>
      </Col>
      <Col span="2"><Button type="primary" size="default" @click="handleSubmit">查 询</Button></Col>
      <Col span="16">
        <Button type="primary" size="large" @click="exportData"><Icon type="ios-download-outline" /> 导出数据</Button>
      </Col>
    </Row>
    <Tabs @on-click="queryDataByType">
      <TabPane label="根据时间排序" name="time" >
        <Table ref="homeTable" :columns="columns" :data="dataSource" />
        <pagination
          :total="paginationProps.total_count || 1"
          :page-size="pageSize"
          @changePage="handleChangePage"
        />
      </TabPane>
      <TabPane label="根据币种排序" name="currency" >
        <Table ref="homeTable" :columns="marketColumns" :data="marketDataSource" />
        <pagination
          :total="marketPaginationProps.total_count || 1"
          :page-size="marketPageSize"
          @changePage="handleChangeMarketPage"
        />
      </TabPane>
    </Tabs>
  </div>
</template>
<script>
import echarts from 'echarts';
import moment from 'moment';
import api from '../../axios';
import pagination from '../common/pagination';
export default {
  name: 'market-deposit',
  components: {
    pagination,
  },
  data() {
    return {
      columns: [
        {
          title: '时间',
          key: 'created_at',
        },
        {
          title: 'USDT',
          key: 'usdt',
        },
        {
          key: 'cny',
          title: '人民币',
        },
      ],
      marketColumns: [
        {
          title: '时间',
          key: 'created_at',
        },
        {
          title: '币种',
          key: 'currency_name',
        },
        {
          title: '数量',
          key: 'total_balance',
        },
        {
          title: 'USDT',
          key: 'usdt',
        },
        {
          key: 'cny',
          title: '人民币',
        },
      ],
      dataSource: [],
      marketDataSource: [],
      paginationProps: {},
      marketPaginationProps: {},
      pageSize: 50,
      marketPageSize: 50,
      timeRange: [],
    };
  },
  methods: {
    exportData() {
      this.$refs.homeTable.exportCsv({
        filename: '充值数据',
      });
    },
    handleChangePage({page}) {
      this.fetch({page});
    },
    queryDataByType(value) {
      if (value === 'time') {
        this.fetch({});
      } else {
        this.fetchMarkets({});
      }
    },
    handleChangeMarketPage({page}) {
      this.fetchMarkets({page});
    },
    fetchMarkets({ page = 1, count = this.pageSize, created_at = this.timeRange[0] ? this.timeRange : undefined }) {
      api.queryMarkets({
        resource: 'deposit',
        page,
        count,
        created_at,
      })
      .then((data) => {
        if (data && data.success) {
          if (data.data && data.data.length) {
            this.marketDataSource = data.data.map((d) => {
              d.created_at = d.created_at.split('T')[0];
              return d;
            });
            this.marketPaginationProps = data.meta;
          }
        }
      });
    },
    fetch({ page = 1, count = this.pageSize, created_at = this.timeRange[0] ? this.timeRange : undefined }) {
      api.AdminMarkets({
        resource: 'deposit',
        page,
        count,
        created_at,
      })
      .then((data) => {
        if (data && data.success) {
          if (data.data && data.data.length) {
            this.dataSource = data.data.map((d) => {
              d.created_at = d.created_at.split('T')[0];
              return d;
            });
            this.paginationProps = data.meta;
            this.drawLine();
          }
        }
      }).catch((e) => console.log(e));
    },
    drawLine() {
      const chart = echarts.init(document.getElementById('chart'));
      const legendData = this.dataSource.map(d => d.created_at.slice(5));
      const seriesData = this.dataSource.map(s => s.total_balance);
      const option = {
        tooltip: {
          trigger: 'axis',
        },
        xAxis: {
          type: 'category',
          data: legendData,
        },
        yAxis: {
          type: 'value'
        },
        series: [{
          // name: '访问来源',
          type: 'line',
          // radius: '66%',
          // center: ['50%', '60%'],
          data: seriesData,
          smooth: true,
        }],
      };
      chart.setOption(option);
      window.addEventListener('resize', () => chart.resize());
    },
    handleSubmit() {
      this.timeRange = this.timeRange && this.timeRange[0] ? this.timeRange.map(t => moment(t).format('YYYY-MM-DD')) : undefined;
      this.fetch({ page: 1, created_at: this.timeRange })
    },
  },
  created() {
    this.fetch({});
  },
  mounted() {
  },
};
</script>