<template>
  <div class="home">
    <div class="home">
      <Row class="button-row">
        <Col>
          <Button type="primary" size="large" @click="exportData"><Icon type="ios-download-outline" /> 导出数据</Button>
        </Col>
      </Row>
      <Table ref="homeTable" :columns="columns" :data="dataSource" />
      <pagination
        :total="paginationProps.total_count"
        :page-size="20"
        @changePage="handleChangePage"
      />
    </div>
  </div>
</template>

<script>
import api from '../../axios';
import pagination from '../common/pagination';
export default {
  name: 'market-home',
  components: {
    pagination,
  },
  data() {
    return {
      columns: [
        {
          title: '起始时间',
          key: 'created_at',
          render: (h, { row }) => {
            return h('span', row.created_at.slice(0, 19).replace('T', ' '));
          },
        },
        {
          title: '币种',
          key: 'currency_name',
        },
        {
          title: '余额',
          key: 'total_balance',
        },
      ],
      dataSource: [],
      paginationProps: {},
    };
  },
  methods: {
    exportData() {
      this.$refs.homeTable.exportCsv({
        filename: '大盘整体数据',
      });
    },
    handleChangePage(page) {
      this.fetch(page);
    },
    fetch(page, pageSize) {
      api.AdminMarkets({
        resource: 'all',
        page: page || 1,
        per: pageSize || 20,
      })
      .then((data) => {
        if (data && data.success) {
          this.dataSource = data.data;
          this.paginationProps = data.meta;
        }
      }).catch((e) => console.log(e));
    },
  },
  created() {
    this.fetch();
  },
};
</script>
