<style lang="less">
.sidebar-menu-con {
  width: 200px;
  height: 100%;
  background-color: #303646;
  overflow: visible;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  .logo-con {
    padding: 8px;
    text-align: center;
    img {
      height: 44px;
      width: auto;
    }
  }
}
.single-page-con {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #eee;
}
</style>


<template>
  <div id="main">
    <div class="sidebar-menu-con">
      <sidebar-menu
        :shrink="shrink"
      >
        <div slot="top" class="logo-con">
          <img v-show="shrink" src="https://assets.bitrabbit.com/static/cb461b5d187c223aa902085d2c04a003.svg" key="min-logo" />
          <img v-show="!shrink" src="https://assets.bitrabbit.com/upload/571e44ab-01ef-4a6a-83e3-2c93acb60921.svg" key="max-logo" />
        </div>
      </sidebar-menu>
    </div>
    <div class="single-page-con" :style="{ left: shrink ? 60 : 200 }">
      <div>
        <div class="single-page">
          <router-view :key="key" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import sidebarMenu from './main/sidebar-menu.vue';
// import breadCrumb from './main/bread-crumb.vue';

export default {
  name: 'market-main',
  data() {
    return {
      shrink: false,
    };
  },
  components: {
    sidebarMenu,
    // breadCrumb,
  },
  created() {
  },
  methods: {
  },
  computed: {
    key() {
      return this.$route.name ? this.$route.name + new Date().getTime() : this.$route + new Date().getTime();
    },
  },
};
</script>

