<style>
.market-page {
  text-align: right;
  margin: 20px 0;
}
</style>


<template>
  <Page :total="total" :page-size="pageSize" class-name="market-page" @on-change="handleChangePage"></Page>
</template>

<script>
  export default {
    name: 'market-pagination',
    props: {
      total: {
        type: Number,
        default: 1,
        required: true,
        validator: val => val > 0,
      },
      pageSize: Number,
    },
    methods: {
      handleChangePage(page) {
        this.$emit('changePage', { page });
      },
    },
  };
</script>
