<template>
  <div class="login" @keydown.enter="handleSubmit">
    <div class="login-con">
      <Card :bordered="false" style="width: 375px">
        <p slot="title">
          <Icon type="log-in"></Icon>
          欢迎登录
        </p>
        <div class="form-con">
          <Form ref="loginForm" :model="form" :rules="rules">
            <FormItem prop="email" class="email">
              <i-input v-model="form.email" placeholder="请输入邮箱" clearable>
                <Button type="primary" @click="sendCode(form.email)" slot="append" :disabled="!form.email" >发送验证码</Button>
              </i-input>
            </FormItem>
            <FormItem prop="verify_code">
              <i-input v-model="form.verify_code" placeholder="请输入验证码" clearable>
              </i-input>
            </FormItem>
            <FormItem prop="password">
              <i-input type="password" v-model="form.password" placeholder="请输入密码" clearable>
              </i-input>
            </FormItem>
            <FormItem>
              <Button @click="handleSubmit" :loading="loading" type="primary" long>登录</Button>
            </FormItem>
          </Form>
        </div>
      </Card>
    </div>
  </div>
</template>

<script>
import api from '../../axios';
export default {
  data() {
    return {
      loading: false,
      form: {
        email: '',
        verify_code: '',
        password: '',
      },
      rules: {
        email: [
          { required: true, message: '邮箱不能为空', trigger: 'blur' },
        ],
        verify_code: [
          { required: true, message: '验证码不能为空', trigger: 'blur' },
        ],
        password: [
          { required: true, message: '密码不能为空', trigger: 'blur' },
        ],
      },
    };
  },
  methods: {
    sendCode(email) {
      this.$refs.loginForm.validateField('email', (err, valid) => {
        if (err) return;
        else {
          api.SendCode({ email }).then((data) => {
            if (data.success) {
              this.$Message.success('短信发送成功');
            } else {
              this.$Message.error(data.errors.message);
            }
          });
        }
      });
    },
    handleSubmit() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          api.Login(this.form).then((data) => {
            if (data.success) {
              localStorage.setItem('MARKET_TOKEN', data.data.jwt);
              this.$Message.success('登录成功');
              this.$router.push({
                name: 'register',
              });
            } else {
              this.$Message.error(data.errors.message);
            }
            this.loading = false;
          }).catch((e) => {
            console.log(e);
            this.loading = false;
          });
        }
      });
    },
  },
};
</script>

<style lang="less">
  .login {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/login_bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &-con {
      width: 320px;
    }
    .email {
      .ivu-input-icon {
        right: 90px;
      }
    }
  }
</style>

