#chart {
  width: 100%;
  min-height: 400px;
  margin-bottom: 20px;
  background-color: #fff;
}
.button-row {
  margin-bottom: 20px;
  text-align: right;
}
.home {
  .ivu-date-picker {
    width: 100%;
  }
}